body {
    background-color: #f4f4;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    font-weight: normal;
    line-height: 1.6em;

}

h1 {
    color: red;
}

a {
    text-decoration: none;
    color: #fff;
}

a:hover {
    color: red;
}

.container {
    width: 80%;
    margin: auto;
}

.box-1 {
    background-color: #333;
    color: #fff;
    border: 5px red solid;
    border-width: 3px;
    border-bottom-width: 10px;
    border-top-style: dotted;

    padding: 20px;

    margin: 20px 0;
}

.box1 h1 {
    font-family: Tahoma;
    font-style: Italic;
}

.box-2 {
    border: 3px dotted #ccc;
    margin: 20px 0px;
}

.categories {
    border: 1px lightgrey solid;
    padding: 10px;
    border-radius: 15px;
}

.categories h2 {
    text-align: center;
}

.categories ul {
    padding: 0;
    list-style: none;
}

.categories li {
    padding-bottom: 8px;
    border-bottom: 1px dotted #333;

}